<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CustomerCare">
  <test thread-count="5" name="Customercare v1">
	<parameter name="browser" value="chrome"></parameter>
	<classes>
		<class name="com.testcases.PolicySearch_TestCase"></class>
	</classes>  
		  
	  
  </test> <!-- Test -->
</suite> <!-- Suite -->
